<section class="contacts-section">
    <div class="container">
      <h1>Kontaktai</h1>
      <div class="contacts-wrapper">
        <div class="contact1">
          <div class="contact1-text">
            <div>
              <p><strong>Tel. nr.: </strong></p>
              <p><strong>El. paštas: </strong></p>
              <p><strong>Adresas: </strong></p>
            </div>
            <div>
              <p><a class="contacts-a" href="tel:+37069962727">+ (370) 699 62727</a></p>
              <p><a class="contacts-a"
                  href="mailto:jokubasfisas@gmail.com">jokubasfisas@gmail.com</a></p>
              <p><a class="contacts-a"
                  href="https://www.google.lt/maps/place/Rus%C5%B3+g.+3,+Vilnius+01125/@54.6818321,25.2912828,841m/data=!3m1!1e3!4m5!3m4!1s0x46dd94161112ce8d:0x4ae0fb7c9964256d!8m2!3d54.6818839!4d25.2909599?hl=lt">Rusų
                  gatvė 4, Vilnius, Lietuva</a></p>
            </div>
          </div>
          <div class="contact1-image">
            <img src="../assets/images/contact-back.jpg" alt="address-image">
          </div>
        </div>
        <div class="contact2">
          <iframe class="map" allowfullscreen="" frameborder="0" height="425"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2306.5616311855433!2d25.288675715889244!3d54.682143780280654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd941614f28509%3A0xc27d08bff694e646!2sRus%C5%B3+g.+4%2C+Vilnius+01125!5e0!3m2!1slt!2slt!4v1547551748867"></iframe>
        </div>
      </div>
    </div>
</section>