.register-form {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.mat-card {
    max-width: 400px;
    width: 100%;
    padding: 0;

    .header {
        text-align: center;
        background: #3f51b5;
        color: white;

        h2 {
            font-size: 24px;
            font-weight: 300;
            text-transform: uppercase;
            padding: 10px;
        }
    }

    form {
        padding: 20px;

        .full-width {
            width: 100%;
        }

        .registerBtn {
            margin-top: 60px;
            text-align: center;
        }

        .username-field,.password-field,.email-field {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 860px) {
    .register-form {
        margin-top: 60px;
    }
}

@media screen and (max-width: 570px) {
    .register-form {
        margin-top: 0px;
    }
}

// .wrapper-form {
//     max-width: 500px;
//     width: 100%;
//     height: auto;
//     margin: 0 15px;
//     background: #f1f1f138;
//     border: 1px solid rgba($color: #8ab3bf, $alpha: 1.0);
//     border-radius: 10px;
//     padding: 20px;
//     box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.1),
//                 0px 4px 10px -2px rgba(0, 0, 0, 0.1);
// }

// .field-email,.field-password,.field-username {
//     display: flex;
//     flex-direction: column;
//     padding: 15px 0px;
// }

// label {
//     margin-bottom: 7px;
// }

// input {
//     padding: 5px;
//     border: 1px solid rgba($color: #8ab3bf, $alpha: 1.0);
//     border-radius: 5px;
//     color: #56899f;

//     &:hover,&:focus {
//         border-color: rgba($color: #3588a1, $alpha: 1.0);
//     }
// }

// .buttonInvalid {
//     margin: 20px 0px;
//     width: 100%;
//     border: 1px solid #8ab3bf;
//     border-radius: 5px;
//     padding: 5px 0px;
//     background: #ebebeb;
// }

// .buttonValid {
//     margin: 20px 0px;
//     width: 100%;
//     border: 1px solid #8ab3bf;
//     border-radius: 5px;
//     padding: 5px 0px;
//     background: #8ab3bf;
//     color: white;
//     cursor: pointer;
//     transition: 0.5s;
// }

// .email-errors,.password-errors,.username-errors {
//     margin-top: 5px;

//     p {
//         font-size: 14px;
//         color: tomato;
//     }
// }

// .fieldInvalid {
//     border: 2px solid rgba(255,99,71,0.52);
//     border-radius: 5px;
// }

// .fieldValid {
//     border: 2px solid rgba(52,158,58,0.52);
//     border-radius: 5px;
// }