// SECTION HERO START

section.hero {
    .hero-image {
        // background-image: url(../assets/images/main.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding-top: 50%;
    }
    
    .hero-text {
        position: absolute;
        top: 40%;
        left: 5%;
    
        h1 {
            font-size: 2.5rem;
            font-weight: 300;
        }
    
        h2 {
            font-size: 2rem;
            font-weight: 400;
        }
    
        h3 {
            font-size: 1.75rem;
            font-weight: 400;
        }
    
        h1, h2, h3 {
            margin-bottom: 0.5rem;
            line-height: 1.2;
        }
    }
}

// SECTION HERO END

// RESPONSIVE

@media screen and (max-width: 1085px) {
    section.hero {
        .hero-text {
            h1 {
                font-size: 2.3rem;
            }

            h2 {
                font-size: 1.9rem;
            }

            h3 {
                font-size: 1.4rem;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    section.hero {
        .hero-text {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.7rem;
            }

            h3 {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 860px) {
    section.hero {
        .hero-text {
            h1 {
                font-size: 1.8rem;
            }

            h2 {
                font-size: 1.6rem;
            }
        }
    }
}

@media screen and (max-width: 790px) {
    section.hero {
        .hero-text {
            left: 0;
        }
    }
}

@media screen and (max-width: 750px) {
    section.hero {
        .hero-text {
            left: 5%;
        }
    }
}

@media screen and (max-width: 700px) {
    section.hero {
        .hero-text {
            left: 5%;

            h1 {
                font-size: 1.5rem;
            }

            h2 {
                font-size: 1.4rem;
            }

            h3 {
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 610px) {
    section.hero {
        .hero-text {
            left: 5%;

            h1 {
                font-size: 1.3rem;
            }

            h2 {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    section.hero {
        .hero-text {
            left: 5%;
    
            h1,h2 {
                font-size: 1.2rem;
            }
    
            h3 {
                font-size: 0.8rem;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    section.hero {
        .hero-text {
            left: 5%;

            h1,h2 {
                font-size: 1rem;
            }

            h3 {
                font-size: 0.7rem;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    section.hero {
        .hero-text {
            left: 5%;

            h1,h2 {
                font-size: 0.9rem;
            }

            h3 {
                font-size: 0.7rem;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    section.hero {
        .hero-text {
            left: 5%;

            h1,h2 {
                font-size: 0.8rem;
            }

            h3 {
                font-size: 0.6rem;
            }
        }
    }
}