<div class="wrapper-main" [ngStyle]="applyMargin()">
  <div class="container">
    <div class="wrapper-articles">
      <mat-card *ngFor="let article of articleArray" class="card">
        <mat-card-header>
          <mat-card-title>{{ article.title }}</mat-card-title>
          <mat-card-subtitle>{{
            article.date.toDate() | date
          }}</mat-card-subtitle>
        </mat-card-header>
        <ng-container *ngIf="!article.image">
          <img
            mat-card-image
            style="object-fit: contain"
            src="../../../assets/images/articles/dummy-article.jpg"
            alt="default-image"
          />
        </ng-container>
        <ng-container *ngIf="article.image">
          <img
            mat-card-image
            src="{{ article.image }}"
            alt="{{ article.title }}"
          />
        </ng-container>
        <mat-card-content>
          <div class="truncate-text" [innerHTML]="article.body"></div>
          <div class="button-read">
            <a [routerLink]="['/articles/', article.id]">
              <button
                mat-button
                color="primary"
                style="margin: 10px"
                (click)="selectArticle(article.id)"
              >
                Skaityti...
              </button>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
