section.articles {
  transition: 0.5s;

  .container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 60px;
  }

  .wrapper-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    .card {
      width: 30%;
      margin: 15px;
      padding: 0;

      .mat-card-header {
        padding: 10px 0px;

        .mat-card-header-text {
          overflow: hidden;

          .mat-card-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .mat-card-subtitle {
        margin-bottom: 0;
      }

      .mat-card-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        margin: 0;
      }

      // .truncate-text {
      //   max-width: 430px;
      //   white-space: nowrap;
      //   overflow: hidden;
      //   text-overflow: ellipsis;
      //   padding: 10px;
      // }

      .truncate-text {
        /* hide text if it more than N lines  */
        overflow: hidden;
        /* for setting '...' in absolute position */
        position: relative;
        /* use this value to count block height */
        line-height: 1.4em;
        /* max-height = line-height (1.2) * lines max number (3) */
        max-height: 4.6em;
        /* fix problem when last visible word doesn't adjoin right side  */
        text-align: justify;

        margin-right: -1em;
        padding: 0.5em 3em 0em 1em;

        &::before {
          /* points in the end */
          content: "...";
          /* absolute position */
          position: absolute;
          /* set position to right bottom corner of block */
          right: 0;
          bottom: -1px;
          padding-right: 2.1em;
        }
      }

      .button-read {
        text-align: center;

        button {
          text-transform: uppercase;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .card {
    width: 45% !important;
  }
}

@media screen and (max-width: 720px) {
  .card {
    width: 44% !important;
  }
}

@media screen and (max-width: 620px) {
  .card {
    width: 100% !important;
  }
}
