<div class="login-form" [ngStyle]="applyMargin()">
    <!-- <div class="wrapper-form"> -->
        <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)"> -->
        <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="field-email">
                <label for="email">E-mail: </label>
                <input id="email" 
                    type="email" 
                    formControlName="email" 
                    placeholder="Your email"
                    [ngClass]="{'fieldInvalid': loginForm.controls.email.invalid && 
                                                loginForm.controls.email.touched,
                                'fieldValid':   loginForm.controls.email.valid &&
                                                loginForm.controls.email.touched}">
                <div class="email-errors" *ngIf="loginForm.controls.email.errors">
                    <p *ngIf="loginForm.controls.email.touched &&
                            loginForm.controls.email.errors.required">
                            Please provide your e-mail address.
                    </p>
                    <p *ngIf="loginForm.controls.email.touched &&
                            loginForm.controls.email.errors.email">
                            Please provide correct e-mail address.
                    </p>
                </div>
            </div>
            <div class="field-password">
                <label for="password">Password: </label>
                <input id="password"
                    type="password"
                    formControlName="password" 
                    placeholder="Your password"
                    [ngClass]="{'fieldInvalid': loginForm.controls.password.invalid && 
                                                loginForm.controls.password.touched,
                                'fieldValid':   loginForm.controls.password.valid &&
                                                loginForm.controls.password.touched}">
                <div class="password-errors" *ngIf="loginForm.controls.password.errors">
                    <p *ngIf="loginForm.controls.password.touched &&
                              loginForm.controls.password.errors.required">
                            Please provide your password.
                    </p>
                    <p *ngIf="loginForm.controls.password.touched &&
                              loginForm.controls.password.errors.minlength">
                            Your password must be more than {{ minPswLength }} characters long.
                    </p>
                    <p *ngIf="loginForm.controls.password.touched &&
                              loginForm.controls.password.errors.maxlength">
                            Your password must be no more than {{ maxPswLength }} characters long.
                    </p>
                    <p *ngIf="loginForm.controls.password.touched &&
                              loginForm.controls.password.hasError('hasNumber')">
                            Your password must have at least 1 number.
                    </p>
                    <p *ngIf="loginForm.controls.password.touched &&
                              loginForm.controls.password.hasError('hasCapital')">
                            Your password must have at least 1 capital letter.
                    </p>
                    <p *ngIf="loginForm.controls.password.touched &&
                              loginForm.controls.password.hasError('hasLower')">
                            Your password must have at least 1 lower letter.
                    </p>
                    <p *ngIf="loginForm.controls.password.touched &&
                              loginForm.controls.password.hasError('hasSpecial')">
                            Your password must have at least 1 special character. <br>
                            <span style="font-size: 11px">Allowed special characters: {{ allowedSpecial }}</span>
                    </p>
                </div>
            </div>
            <button type="submit"
                    [disabled]="!loginForm.valid"
                    [ngClass]="{'buttonValid': loginForm.valid, 'buttonInvalid': !loginForm.valid}">Login</button>
            <button type="button"
                    class="buttonValid"
                    (click)='resetPassword()'>Forgot password?</button>
        </form>
    </div> -->

    <mat-card>
        <mat-card-content>
            <div class="header">
                <h2>Login</h2>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
                <div class="email-field">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input formControlName="email"
                               matInput
                               required
                               placeholder="Ex: yourmail@mail.com">
                        <mat-error *ngIf="loginForm.get('email').errors?.required">
                            Please provide your e-mail address.
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('email').errors?.email">
                            Please enter a valid e-mail address.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="password-field">
                    <div class="forgotPassword">
                        <a class="forgotLink"><span (click)='resetPassword()'>Forgot password?</span></a>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password"
                               matInput
                               required
                               [type]="_hidePassword ? 'password' : 'text'">
                        <button mat-icon-button
                                aria-label="Hide password"
                                aria-pressed="Show password"
                                matSuffix
                                (click)="hidePassword()">
                            <mat-icon>{{ _hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.get('password').errors?.required">
                            Please provide your password.
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('password').errors?.minlength">
                            Your password must be more than {{ minPswLength }} characters long.
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('password').errors?.maxlength">
                            Your password must be no more than {{ maxPswLength }} characters long.
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('password').errors?.hasNumber">
                            Your password must have at least 1 number.
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('password').errors?.hasCapital">
                            Your password must have at least 1 capital letter.
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('password').errors?.hasLower">
                            Your password must have at least 1 lower letter.
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('password').errors?.hasSpecial">
                            Your password must have at least 1 special character.<br>
                            <span style="font-size: 11px">Allowed special characters: {{ allowedSpecial }}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="loginBtn">
                    <button mat-flat-button color="primary"
                            type="submit"
                            [disabled]="!loginForm.valid">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>