.wrapper-main {
  min-height: 100vh;
  width: 100%;
  transition: 0.5s;
  margin-top: 140px;

  .wrapper-image {
    max-width: 500px;
    width: 80%;
    margin: 0px auto 10px auto;

    img {
      width: 100%;
    }
  }

  .body-text {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5em;

    p {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 570px) {
  .wrapper-main {
    margin-top: 90px;
  }
}
