<div class="reset-form">
    <div class="wrapper-form">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
            <div class="field-email">
                <label for="email">E-mail: </label>
                <input id="email" 
                    type="email" 
                    formControlName="email" 
                    placeholder="Your email"
                    [ngClass]="{'fieldInvalid': resetForm.controls.email.invalid && 
                                                resetForm.controls.email.touched,
                                'fieldValid':   resetForm.controls.email.valid &&
                                                resetForm.controls.email.touched}">
                <div class="email-errors" *ngIf="resetForm.controls.email.errors">
                    <p *ngIf="resetForm.controls.email.touched &&
                            resetForm.controls.email.errors.required">
                            Please provide your e-mail address.
                    </p>
                    <p *ngIf="resetForm.controls.email.touched &&
                            resetForm.controls.email.errors.email">
                            Please provide correct e-mail address.
                    </p>
                </div>
            </div>
            <button type="submit"
                    [disabled]="!resetForm.valid"
                    [ngClass]="{'buttonValid': resetForm.valid, 'buttonInvalid': !resetForm.valid}">Reset password</button>
        </form>
    </div>
</div>