<div class="wrapper-main">
    <div class="container">
        <div class="wrapper-images">
            <input type="file"
                   id="file"
                   (change)="selectPicture($event)"
                   name="image"
                   autocomplete="off"/>
            <div class="images" *ngFor="let photo of photos; let i = index"> <!--async???-->
                <div class="deleteButton" (click)="deletePicture(imageDelete)">
                    <img src="{{ photo.url }}" alt="image(i + 1)" #imageDelete>
                </div>
            </div>
        </div>
    </div>
</div>