<div class="wrapper-main" [ngStyle]="applyMargin()">
  <div class="container">
    <div class="wrapper-images">
      <div *ngIf="uploadProgress | async as progress" id="upload" class="uploadProgress">
        <mat-progress-bar id="progressBar" mode="determinate" [value]="progress"></mat-progress-bar>
        <!-- {{ hi(progress) }} -->
      </div>
      <div class="images">
        <input
          type="file"
          id="file"
          (change)="selectPicture($event)"
          name="image"
          autocomplete="off"
          accept="image/*"
        />
      </div>
      <div class="images" *ngFor="let photo of photos; let i = index">
        <img src="{{ photo.url }}" alt="image_{{ i + 1 }}" />
        <div
          title="Delete"
          class="deleteButton displayDiv"
          (mouseover)="displayDiv($event)"
          (mouseout)="displayDiv($event)"
          id="deleteBtn"
          (click)="deletePicture(photo)"
        >
          X
        </div>
      </div>
    </div>
  </div>
</div>
