<!-- <section class="services" [ngStyle]="{'background-image': 'url(../assets/images/services.jpg)'}"> -->
<section class="services">
    <img src="../assets/images/services.jpg" alt="services-image">
    <div class="service-wrapper">
      <div class="container">
        <h1>Paslaugos</h1>
        <div class="service-content">
          <div class="service-help">
            <h2>Teikiama pagalba</h2>
            <p>Neurologinių ir ribinių buklių ligonių konsultavimas, gydymas, ekspertizė.</p>
            <p>Aukšciausio lygio konsultacijos prieinamos kone visą parą.</p>
            <p>Esant parodymams taikomas mažai invazinis gydymas, akupresūra, kitokia refleksoterapija,
                  imobilizacinė manualine terapija. Dažniausios patologijos formos: letinis galvos smegenų
                  kraujotakos nepakankamumas, atminties sutrikimai, vegetaciniai negalavimai, nugaros skausmai,
                  nervų sistemos išsekimas, neuritai, nervų sistemos infekcijos, išsetinė sklerozė,
                  Parkinsono liga.</p>
          </div>
          <div class="service-price">
            <h2>Kainoraštis</h2>
            <ul>
              <li>Konsultacija: <strong>60 EUR</strong></li>
              <li>Konsultacija išvykstant: <strong>100 EUR</strong></li>
              <li>Papildoma medicinos pagalba pagal atskirą susitarimą</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>