.wrapper-main {
  min-height: 100vh;
  width: 100%;
  transition: 0.5s;
  margin-top: 140px;

  table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;

    th.mat-sort-header-sorted {
      color: black;
    }

    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      text-align: left;
      max-width: 300px;
    }
  }

  .wrapper-input {
    display: flex;

    .mat-form-field {
      font-size: 14px;
      width: 90%;
    }
  }
}

@media screen and (max-width: 570px) {
  .wrapper-main {
    margin-top: 90px;
  }
}