<div class="wrapper-main" [ngStyle]="applyMargin()">
  <div class="container" style="width: 90%">
    <div class="wrapper-table">
      <div class="wrapper-input">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Type something"
            #input
          />
        </mat-form-field>
        <a routerLink="/admin/articles/article-new">
          <button mat-button color="primary">Add article</button>
        </a>
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- No. column -->
        <ng-container matColumnDef="No.">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
          <td mat-cell *matCellDef="let element">
            {{ dataSource.data.indexOf(element) + 1 }}
          </td>
        </ng-container>

        <!-- Title column -->
        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <!-- Source column -->
        <ng-container matColumnDef="Source">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
          <td mat-cell *matCellDef="let element">{{ element.source }}</td>
        </ng-container>

        <!-- Status column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <!-- Date column -->
        <ng-container matColumnDef="Date added">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date added</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dateAdded.toDate() | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let element">
            <!-- <a [routerLink]="['/admin/articles/edit/', element.id]"> -->
            <a routerLink="/admin/articles/edit/{{ element.id }}">
              <button mat-button color="primary" (click)="selectArticle(element.id)">Edit</button>
            </a>
            <button mat-button color="warn" (click)="deleteArticle(element)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
